<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
	<servlet>
		<servlet-name>Ad5807</servlet-name>
		<servlet-class>ad5807.Ad5807Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Ad5807</servlet-name>
		<url-pattern>/ad5807</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>ad5807.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>	
	
	<servlet>
		<servlet-name>UserRegistration</servlet-name>
		<servlet-class>ad5807.UserRegistrationServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UserRegistration</servlet-name>
		<url-pattern>/user_registration</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RegistResult</servlet-name>
		<servlet-class>ad5807.RegistResultServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegistResult</servlet-name>
		<url-pattern>/regist_result</url-pattern>
	</servlet-mapping>		
	
	<servlet>
		<servlet-name>Select</servlet-name>
		<servlet-class>ad5807.SelectServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Select</servlet-name>
		<url-pattern>/select</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CheckOrder</servlet-name>
		<servlet-class>ad5807.CheckOrderServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>CheckOrder</servlet-name>
		<url-pattern>/check_order</url-pattern>
	</servlet-mapping>
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
